/node_modules
/public/build
/public/hot
/public/vendor/livewire
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
!/storage/app/countries/*
!/storage/app/countries/list.json